a {
  color:blue;
  text-decoration: none;
}
h1 {
  font-size:45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:10px;
  }
h2 { border-right:1px solid gray;
 width:100px;
 padding-left:40px;
 margin:20;

}
 #gong ol{
   border-right:1px solid gray;
   width:100px;
   padding-left:40px;
   margin:0;
 }

 #gong {
   display: grid;
   grid-template-columns: 150px 1fr;
 }

 @media(max-width:500px){
   #gong {
     display:block
   }
   #gong ol{
     border-right: none;
   }
   h1 {
     border-bottom:none;
   }
 }
